.container {
    background-color: steelblue;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: flex-start;
    margin: 0 auto;

    max-width: 50%;
    min-width: 500px;

    max-height: 50%;
    height: 500px;
}

.card {
    background-color: cornflowerblue;
    border: 1px solid black;
    font-size: 6rem;
    color: black;
    text-align: center;
    width: calc(100%/4 - 2px);
    height: calc(100%/4 - 2px);
  }
