.container {
    background-color: steelblue;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: flex-start;
    margin: 0 auto;

    max-width: 50%;
    min-width: 500px;

    max-height: 50%;
    height: 500px;
}

.card {
    background-color: cornflowerblue;
    border: 1px solid black;
    font-size: 6rem;
    color: black;
    text-align: center;
    width: calc(100% / 4 - 2px);
    height: calc(100% / 4 - 2px);
}

.emptyCard {
    border: none;
    background-color: transparent;
    width: calc(100% / 4);
    height: calc(100% / 4);
}

.counter {
    display: block;
    text-align: center;
    font-size: 18px;
}

button {
    width: 10%;
    font-size: 14px;
    display: block;
    padding: 15px 10px;
    margin: 30px auto 0;
    background-color: cornflowerblue;
    border: 1px solid transparent;
    outline: none;
}

button:hover {
    background-color: steelblue;
}
